body{
    background-color: #ff0080;
    text-align: center;
}

.clock{
    font-size: 4em;
    font-family: arial;
    font-weight: bold;
    display: inline-block;
}

.buttons{
    width: 25%;
    display: inline;
}

.buttons img{
    cursor: pointer;
    width: 2.5em;
    display: inline-block;
}

.session-length{
    display:inline-block;
    float:left;
    font-size: 2em;
    font-family: arial;
    font-weight: bold;
    display: inline-block;
    border: 5px solid black;
    padding: 5px;
    width: 250px;
}

.plus-minus img{
    width:20px;
    cursor: pointer;
}

.break-length{
    display:inline-block;
    float:right;
    font-size: 2em;
    font-family: arial;
    font-weight: bold;
    display: inline-block;
    border: 5px solid black;
    padding: 5px;
    width: 250px;
}

.text img{
    cursor: pointer;
    width: 1em;
}

.goal-day{
    font-size: 2em;
    font-family: arial;
    font-weight: bold;
}

.goal {
    font-size: 2em;
    font-family: arial;
    font-weight: bold;
}

#goal-button{
    border: 5px black solid;
    background-color: #ff0080;
    padding: 5px;
    cursor: pointer;
    font-size: 0.75em;
    margin-top: 20px;
    display:block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;

}

#reset-counter {
    border: 5px black solid;
    background-color: #ff0080;
    padding: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    font-weight:bold;
}

#goal-input{
    background-color: #ff0080;
    border: 5px black solid;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 0.75em;
}

